[
    {
        "parserType": "Glob",
        "configTitle": "Nintendo GameCube - Dolphin",
        "steamDirectory": "${steamdirglobal}",
        "romDirectory": "/var/media/violet/ROMs/GameCube",
        "steamCategories": [
            "Gamecube"
        ],
        "executableArgs": "-b -e \"${filePath}\"",
        "executableModifier": "\"${exePath}\"",
        "startInDirectory": "",
        "titleModifier": "${fuzzyTitle}",
        "steamInputEnabled": "1",
        "imageProviders": [
            "sgdb"
        ],
        "onlineImageQueries": "${${fuzzyTitle}}",
        "imagePool": "${fuzzyTitle}",
        "drmProtect": false,
        "userAccounts": {
            "specifiedAccounts": [
                "Global"
            ]
        },
        "executable": {
            "path": "/run/current-system/sw/bin/dolphin-emu",
            "shortcutPassthrough": true,
            "appendArgsToExecutable": true
        },
        "parserInputs": {
            "glob": "${title}@(.ciso|.CISO|.dol|.DOL|.elf|.ELF|.gcm|.GCM|.gcz|.GCZ|.iso|.ISO|.nkit.iso|.NKIT.ISO|.rvz|.RVZ|.wad|.WAD|.wia|.WIA)"
        },
        "titleFromVariable": {
            "limitToGroups": "",
            "caseInsensitiveVariables": false,
            "skipFileIfVariableWasNotFound": false
        },
        "fuzzyMatch": {
            "replaceDiacritics": true,
            "removeCharacters": true,
            "removeBrackets": true
        },
        "controllers": {
            "ps4": null,
            "ps5": null,
            "ps5_edge": null,
            "xbox360": null,
            "xboxone": null,
            "xboxelite": null,
            "switch_joycon_left": null,
            "switch_joycon_right": null,
            "switch_pro": null,
            "neptune": null,
            "steamcontroller_gordon": null
        },
        "imageProviderAPIs": {
            "sgdb": {
                "nsfw": false,
                "humor": false,
                "styles": [],
                "stylesHero": [],
                "stylesLogo": [],
                "stylesIcon": [],
                "imageMotionTypes": [
                    "static"
                ],
                "sizes": [],
                "sizesHero": [],
                "sizesIcon": []
            }
        },
        "defaultImage": {
            "tall": "",
            "long": "",
            "hero": "",
            "logo": "",
            "icon": ""
        },
        "localImages": {
            "tall": "",
            "long": "",
            "hero": "",
            "logo": "",
            "icon": ""
        },
        "parserId": "172597081819370329",
        "version": 23
    },
    {
        "parserType": "Glob",
        "configTitle": "Nintendo Wii - Dolphin",
        "steamDirectory": "${steamdirglobal}",
        "romDirectory": "/var/media/violet/ROMs/Wii",
        "steamCategories": [
            "Wii"
        ],
        "executableArgs": "-b -e \"${filePath}\"",
        "executableModifier": "\"${exePath}\"",
        "startInDirectory": "",
        "titleModifier": "${fuzzyTitle}",
        "steamInputEnabled": "1",
        "imageProviders": [
            "sgdb"
        ],
        "onlineImageQueries": "${${fuzzyTitle}}",
        "imagePool": "${fuzzyTitle}",
        "drmProtect": false,
        "userAccounts": {
            "specifiedAccounts": [
                "Global"
            ]
        },
        "executable": {
            "path": "/run/current-system/sw/bin/dolphin-emu",
            "shortcutPassthrough": true,
            "appendArgsToExecutable": true
        },
        "parserInputs": {
            "glob": "${title}/*@(.ciso|.CISO|.dol|.DOL|.elf|.ELF|.gcz|.GCZ|.iso|.ISO|.rvz|.RVZ|.wad|.WAD|.wbfs|.WBFS|.wia|.WIA)"
        },
        "titleFromVariable": {
            "limitToGroups": "",
            "caseInsensitiveVariables": false,
            "skipFileIfVariableWasNotFound": false
        },
        "fuzzyMatch": {
            "replaceDiacritics": true,
            "removeCharacters": true,
            "removeBrackets": true
        },
        "controllers": {
            "ps4": null,
            "ps5": null,
            "ps5_edge": null,
            "xbox360": null,
            "xboxone": null,
            "xboxelite": null,
            "switch_joycon_left": null,
            "switch_joycon_right": null,
            "switch_pro": null,
            "neptune": null,
            "steamcontroller_gordon": null
        },
        "imageProviderAPIs": {
            "sgdb": {
                "nsfw": false,
                "humor": false,
                "styles": [],
                "stylesHero": [],
                "stylesLogo": [],
                "stylesIcon": [],
                "imageMotionTypes": [
                    "static"
                ],
                "sizes": [],
                "sizesHero": [],
                "sizesIcon": []
            }
        },
        "defaultImage": {
            "tall": "",
            "long": "",
            "hero": "",
            "logo": "",
            "icon": ""
        },
        "localImages": {
            "tall": "",
            "long": "",
            "hero": "",
            "logo": "",
            "icon": ""
        },
        "parserId": "172597241493416144",
        "version": 23
    },
    {
        "parserType": "Glob",
        "configTitle": "Nintendo Switch - Ryujinx",
        "steamDirectory": "${steamdirglobal}",
        "romDirectory": "/var/media/violet/ROMs/Switch",
        "steamCategories": [
            "Switch"
        ],
        "executableArgs": "--fullscreen \"${filePath}\"",
        "executableModifier": "\"${exePath}\"",
        "startInDirectory": "",
        "titleModifier": "${fuzzyTitle}",
        "steamInputEnabled": "1",
        "imageProviders": [
            "sgdb"
        ],
        "onlineImageQueries": "${${fuzzyTitle}}",
        "imagePool": "${fuzzyTitle}",
        "drmProtect": false,
        "userAccounts": {
            "specifiedAccounts": [
                "Global"
            ]
        },
        "executable": {
            "path": "/run/current-system/sw/bin/Ryujinx.sh",
            "shortcutPassthrough": false,
            "appendArgsToExecutable": true
        },
        "parserInputs": {
            "glob": "${title}@(.nca|.NCA|.nro|.NRO|.nso|.NSO|.nsp|.NSP|.xci|.XCI)"
        },
        "titleFromVariable": {
            "limitToGroups": "",
            "caseInsensitiveVariables": false,
            "skipFileIfVariableWasNotFound": false
        },
        "fuzzyMatch": {
            "replaceDiacritics": true,
            "removeCharacters": true,
            "removeBrackets": true
        },
        "controllers": {
            "ps4": null,
            "ps5": null,
            "ps5_edge": null,
            "xbox360": null,
            "xboxone": null,
            "xboxelite": null,
            "switch_joycon_left": null,
            "switch_joycon_right": null,
            "switch_pro": null,
            "neptune": null,
            "steamcontroller_gordon": null
        },
        "imageProviderAPIs": {
            "sgdb": {
                "nsfw": false,
                "humor": false,
                "styles": [],
                "stylesHero": [],
                "stylesLogo": [],
                "stylesIcon": [],
                "imageMotionTypes": [
                    "static"
                ],
                "sizes": [],
                "sizesHero": [],
                "sizesIcon": []
            }
        },
        "defaultImage": {
            "tall": "",
            "long": "",
            "hero": "",
            "logo": "",
            "icon": ""
        },
        "localImages": {
            "tall": "",
            "long": "",
            "hero": "",
            "logo": "",
            "icon": ""
        },
        "parserId": "172616360464658057",
        "disabled": false,
        "version": 23
    }
]