{ lib, buildKodiBinaryAddon, fetchFromGitHub, libretro, dolphin }:

buildKodiBinaryAddon rec {
  pname = "kodi-libretro-dolphin";
  namespace = "game.libretro.dolphin";
  version = "1.0.0.1";

  src = fetchFromGitHub {
    owner = "kodi-game";
    repo = "game.libretro.dolphin";
    rev = "89.0.0.26-Omega";
    sha256 = "sha256-lxpj6Y34apYcE22q4W3Anhigp79r4RgiJ36DbES1kzU=";
  };

  extraCMakeFlags = [
    "-DDOLPHIN_LIB=${dolphin}/lib/retroarch/cores/dolphin_libretro.so"
  ];

  extraBuildInputs = [ dolphin ];
  propagatedBuildInputs = [
    libretro
  ];

  meta = with lib; {
    homepage = "https://github.com/kodi-game/game.libretro.dolphin";
    description = "Dolphin for Kodi";
    platforms = platforms.all;
    license = licenses.gpl2Only;
    maintainers = teams.kodi.members;
  };
}