{ config, pkgs, ... }:

{
  # List packages installed in system profile. To search, run:
  # $ nix search wget
  environment.systemPackages = with pkgs; [
    git
    nodejs_22
    (vscode-with-extensions.override {
      vscodeExtensions = with vscode-extensions; [
        bbenoist.nix
        hashicorp.hcl
        ms-python.python
        prisma.prisma
        redhat.ansible
        redhat.java
        redhat.vscode-yaml
        svelte.svelte-vscode
        dracula-theme.theme-dracula
      ];
    })
    {{ "zed-editor" if system.unstable }}
  ];
}