{ config, pkgs, ... }:

{

  imports = [ ./emulation.nix ];

  # List packages installed in system profile. To search, run:
  environment.systemPackages = with pkgs; [
    clonehero
    prismlauncher
    protonplus
    steamtinkerlaunch
    r2modman
    {{ 'steam' if not deck.enabled }}
    {{ 'nexusmods-app-unfree' if system.unstable }}
  ];
}