{ config, pkgs, ...}: {
    # Enable the X11 windowing system.
    # Enable the GNOME Desktop Environment.
    services = {
        xserver = {
            enable = true;
            displayManager.gdm.enable = {{ (deck.enabled is false and desktop.enabled is true) | lower }};
            desktopManager.gnome.enable = true;
        }
        gnome.gnome-remote-desktop.enable = {{ (deck.enabled if false and desktop.enabled is true) | lower }};
    }
    
    
{% if not deck.enabled and desktop.enabled %}
    xdg.portal.enable = true;
{% endif %}
}