{ config, pkgs, ... }:

{
  # List packages installed in system profile. To search, run:
  # $ nix search wget
  environment.systemPackages = with pkgs; [
    curl
    tmux
    fish
    nano
    wget
    fastfetch
    ls
    python3Full # Needed for ansible to work
  ];
  
  
}
