{ config, pkgs, ... }:

{
  # packages.nix
  # Contains configuration for all deployed Nixpkgs
  {# Default system packages #}
  environment.systemPackages = (with pkgs; [
    curl
    fastfetch
    fish
    git
    nano
    python3Full # Needed for ansible to work
    rclone
    tmux
    wget

  {% if install_desktop_packages %}
  ]) ++ (with pkgs; [
    discord
    dracula-theme
    fantasque-sans-mono
    firefox
    gnome-tweaks
    google-chrome
    mission-center
    nextcloud-client
    warp-terminal

  {% if install_gaming_packages %}
  ]) ++ (with pkgs; [
    clonehero
    discord
    lutris
    prismlauncher
    protonplus
    protontricks
    steamtinkerlaunch
    r2modman
    {{ 'steam' if not deck.enabled }}
    {{ 'nexusmods-app-unfree' if system.unstable }}
  {% endif %}

  {% if install_media_packages %}
  ]) ++ (with pkgs; [
    freetube
  {% endif %}

  {% if install_devtool_packages %}
  ]) ++ (with pkgs; [
    nodejs_22
    (vscode-with-extensions.override {
      vscodeExtensions = with vscode-extensions; [
        bbenoist.nix
        hashicorp.hcl
        ms-python.python
        prisma.prisma
        redhat.ansible
        redhat.java
        redhat.vscode-yaml
        svelte.svelte-vscode
        dracula-theme.theme-dracula
      ];
    })
    {{ "zed-editor" if system.unstable }}
  {% endif %}
  ]);
}
