{ config, pkgs, ... }:

{
  # List packages installed in system profile. To search, run:
  environment.systemPackages = (with pkgs; [
    krita
    popsicle
    qFlipper
    rnote
    transmission
    ardour
    plexamp
    spotify
  {% if desktop.enabled %}
    ]) ++ (with pkgs.gnome; [
    gnome-music
  {% endif %}
  ]);
  
  # Enable CUPS to print documents.
  services.printing.enable = true;
}