{ config, pkgs, ... }:

{
  # List packages installed in system profile. To search, run:
  # $ nix search wget
  environment.systemPackages = with pkgs; [
    fastfetch
    fish
    git
    nano
    starship
    wget
    vscode-with-extensions
    vscode-extensions.redhat.ansible
    vscode-extensions.redhat.java
    vscode-extensions.redhat.vscode-yaml
    vscode-extensions.svelte.svelte-vscode
    vscode-extensions.dracula-theme.theme-dracula
    ];
    
    programs.starship.enable = true;
    programs.starship.interactiveOnly = true;
    programs.starship.settings = {

  };
}