{ config, pkgs, ... }:

{

  imports = [ ./emulation.nix ];

  # List packages installed in system profile. To search, run:
  environment.systemPackages = with pkgs; [
    prismlauncher
    protonplus
    {{ 'steam' if not deck.enabled }}
  ];
}