{ config, lib, pkgs, ... }:

{
  imports = [
    (
      # Put the most recent revision here:
      let revision = "{{ jovian.revision }}"; in
      builtins.fetchTarball {
        url = "https://github.com/Jovian-Experiments/Jovian-NixOS/archive/${revision}.tar.gz";
        # Update the hash as needed:
        sha256 = "sha256:{{ jovian.checksum }}";
      } + "/modules"
    )
  ];

  hardware.bluetooth = {
    enable = true; # enables support for Bluetooth
    powerOnBoot = true; # powers up the default Bluetooth controller on boot
  };

  jovian.decky-loader = {
    enable = true;
  };
  
  jovian.hardware.has.amd.gpu = true;
  jovian.devices.steamdeck.enableSoundSupport = true;
  jovian.steam = {
    enable = true;
    user = "violet";
    autoStart = true;
    desktopSession = "{{ 'gnome' if desktop.enabled else 'gamescope-wayland' }}";
  # jovian.steam.desktopSession = "gnome";
  };
}