{ config, lib, pkgs, ... }:

{
  imports = [
    (builtins.fetchTarball {
      url = "https://github.com/Jovian-Experiments/Jovian-NixOS/archive/{{ jovian.revision }}.tar.gz";
      # Update the hash as needed:
      sha256 = "sha256:13a9l3c6jh6iraz5l2nfyd5m6wmr9kimby73sl8kk5pgkrrlbw92";
    } + "/modules")
  ];

  hardware.bluetooth = {
    enable = true; # enables support for Bluetooth
    powerOnBoot = true; # powers up the default Bluetooth controller on boot
  };
  
  services.hardware.openrgb.enable = true;

  jovian.decky-loader = {
    enable = true;
  };
  services.xserver.desktopManager.gnome.enable = true;
  jovian.hardware.has.amd.gpu = true;
  jovian.devices.steamdeck.enableSoundSupport = true;
  jovian.steam = {
    enable = true;
    user = "violet";
    autoStart = true;
    desktopSession = "{{ 'gnome' if true else 'gamescope-wayland' }}";
  # jovian.steam.desktopSession = "gnome";
  };
}