{ config, pkgs, ... }:

{
  # List packages installed in system profile. To search, run:
  environment.systemPackages = with pkgs; [
    apostrophe
    krita
    popsicle
    qFlipper
    rnote
    ungoogled-chromium
    transmission
    ardour
    plexamp
    spotify
    vlc
    wrapOBS {
      plugins = with obs-studio-plugins; [
        wlrobs
        obs-backgroundremoval
        obs-pipewire-audio-capture
      ];
    }
  ];
}