{ config, pkgs, ... }:

{
  # List packages installed in system profile. To search, run:
  environment.systemPackages = with pkgs; [ {{ productivity | join(' ') }} ];
  
  # Enable CUPS to print documents.
  services.printing.enable = true;
}