{ config, pkgs, ... }:

{
  {% for user in users %}
  users.users = {
    {{ user.name }} = {
      isNormalUser = {{ user.normal_user | lower }};
      description = "{{ user.description }}";
      extraGroups = [ {{ user.extra_groups | join(' ') }} ];
      packages = [ {{ user.packages | join(' ') }} ];
    }; 
  };  
}