{ config, pkgs, ... }:

{
  boot.kernelPackages = pkgs.linuxPackages_6_10;

{% if gpu is defined and (gpu.amd | default(false)) and (gpu.oc | default(false)) %}
  boot.kernelParams = [
    "amdgpu.ppfeaturemask=0xffffffff"
  ];
{% endif %} 

{% if system_vendor is "Microsoft Corporation" %}
  boot.kernelParams = [
    "pci=hpiosize=0"
  ]
{% endif %}
}