{ config, pkgs, ... }:

{
  # packages.nix
  # Contains configuration for all deployed Nixpkgs
  {# Default system packages #}
  environment.systemPackages = (with pkgs; [
    # pkgs.python3Full is *required* for Ansible to work
    python3Full
    {{ default_pkg_list }}

  {% if install_desktop_packages %}
  ]) ++ (with pkgs; [
    {{ desktop_pkg_list }}
  {% endif %}

  {% if install_gaming_packages %}
  ]) ++ (with pkgs; [
    {{ gaming_pkg_list }}
    {{ emulation_pkg_list }}
  {% endif %}

  {% if install_media_packages %}
  ]) ++ (with pkgs; [
    freetube
  {% endif %}

  {% if install_htpc_packages %}
  ]) ++ (with pkgs; [
    {{ htpc_pkg_list }}
  {% endif %}

  {% if install_devtool_packages %}
  ]) ++ (with pkgs; [
    nodejs_22
    (vscode-with-extensions.override {
      vscodeExtensions = with vscode-extensions; [
        bbenoist.nix
        hashicorp.hcl
        ms-python.python
        prisma.prisma
        redhat.ansible
        redhat.java
        redhat.vscode-yaml
        svelte.svelte-vscode
        dracula-theme.theme-dracula
      ];
    })
    {{ "zed-editor" if system.unstable }}
  {% endif %}
  ]);
}
