{ config, pkgs, ... }:

{
  # Enable the OpenSSH daemon.
  services = {
    openssh.enable = true;
{% if (sunshine.enabled | default(false)) %}
    sunshine = {
      enable = true;
      autoStart = true; # default is true
      capSysAdmin = true; # default is false
      {# if settings are configured then configuration thru the UI is not possible #}
    };
{% endif %}

{% if htpc.enabled %}
    xserver = { 
      enable = true;
      desktopManager.kodi.enable = true;
      displayManager = {
        autoLogin = {
          enable = true;
          user = "kodi";
        }; 
        lightdm.greeter.enable = false;
      }; 
{% endif %}
    flatpak.enable = true;
  }; 
  
  # Enable docker
  virtualisation.docker.enable = true;
  
{% if packages.gaming is contains('lact') %}
  systemd.packages = with pkgs; [ lact ];
  systemd.services.lactd.wantedBy = ["multi-user.target"];
{% endif %}
}