{ config, pkgs, ... }:

{
  # Enable the OpenSSH daemon.
  services = {
    openssh.enable = true;
{% if (sunshine.enabled | default(false)) %}
    sunshine = {
      enable = true;
      autoStart = true; # default is true
      capSysAdmin = true; # default is false
      {# if settings are configured then configuration thru the UI is not possible #}
    };
{% endif %}

    udev.packages = [ 
{% if deck.enabled or desktop.gaming %}
      pkgs.dolphinEmu 
{% endif %}
{% if is_surface_device %}
      pkgs.iptsd
      pkgs.surface-control
{% endif %}
    ];

{% if htpc.enabled %}
    xserver = { 
      enable = true;
      desktopManager.kodi = {
        enable = true;
        package = pkgs.kodi.withPackages (pkgs: with pkgs; [
          jellyfin
        ]);
      };
      displayManager = {
        autoLogin = {
          enable = true;
          user = "{{ users[0].name }}";
        }; 
        lightdm.greeter.enable = false;
      }; 
    };
{% endif %}

{% if desktop.enabled %}
    flatpak.enable = true;
{% endif %}
  }; 
  
  # Enable docker
  virtualisation.docker.enable = true;
  
{% if packages.gaming is contains('lact') %}
  systemd.packages = with pkgs; [ lact ];
  systemd.services.lactd.wantedBy = ["multi-user.target"];
{% endif %}
}